@use "sass:math";
@import 'vars';
@import 'fonts';
@import 'reset';
@import 'mexins';
@import 'global';
@import 'libs';


.intro {
  background-image: url('../images/dist/intro.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 93vh;
  @include adaptiveValue("padding-bottom", 30, 20);
  @include adaptiveValue("padding-top", 30, 20);
  @include adaptiveValue("padding-left", 30, 20);
  @include adaptiveValue("padding-right", 30, 20);
  background-color: rgb(255, 255, 255);

  &__wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
    letter-spacing: 0;
    color: #fff;
    font-family: "georgia", sans-serif;
    border: 2px solid red;
    border-bottom: none;
  }

  &__title {
    margin: auto;
    font-size: rem(200);
    font-weight: 700;

    @media (max-width: 576px) {
      font-size: 11rem;
    }
  }

  &__text {
    font-size: rem(24);
    font-weight: 400;
    // margin-bottom: -8px;
    @include adaptiveValue("margin-bottom", -8, 0);
    position: relative;
    align-items: center;
    display: inline-flex;
    white-space: nowrap;

    @media (max-width: 576px) {
      font-size: 1.6rem;
    }

    &::before {
      content: "";
      border-top: 2px solid red;
      width: 100%;
      @include adaptiveValue("margin-right", 30, 20);
    }

    &::after {
      content: "";
      border-top: 2px solid red;
      width: 100%;
      @include adaptiveValue("margin-left", 30, 20);
    }
  }
}

.header {
  border-bottom: 1px solid #D0D4D8;
  margin-bottom: 100px;
  @include adaptiveValue("margin-bottom", 100, 40);

  @media (max-width: 768px) {
    display: flex;
    overflow: scroll;
    // писать родителю
    // добавить в снипеты
  }
}


.menu {
  &__items {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 15px;
    color: rgb(144, 144, 144);
    font-size: rem(14);
    @include line-height(19, 14);
    font-weight: 700;
    letter-spacing: 0px;
    outline-color: #000;
    outline-offset: 5px;

    @media (max-width: 1200px) {
      font-size: 1.8rem;
    }
  }

  &__item {
    padding: 7px 19px 12px 8px;
    white-space: nowrap;

    &--active {
      color: #4E5665;
      border-bottom: 4px solid #ECB84C;
    }
  }

  &__link {
    transition: color .5s;

    &:focus {
      color: $focus;
    }

    &:hover {
      color: black;
    }

    &:active {
      color: $active;
    }
  }
}

.vacation {

  &__title {
    text-align: center;
    margin-bottom: rem(15);
  }

  &__text {
    color: #4E5665;
    font-size: rem(16);
    @include line-height(16, 28);
    letter-spacing: 0.8px;
  }

  &__link {
    color: #ECB84C;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: right;
    display: block;
    @include adaptiveValue("margin-bottom", 35, 20);
    transition: color .5s;

    &:focus {
      color: $focus;
    }

    &:hover {
      color: black;
    }

    &:active {
      color: $active;
    }
  }

  &__items {
    display: flex;
    justify-content: space-around;

    @media (max-width: 576px) {
      display: block;
    }
  }

  &__item {
    text-align: center;

    @media (max-width: 576px) {

      &:not(:last-child) {
        margin-bottom: rem(20);
      }
    }


  }

  &__svg {
    @include adaptiveValue("margin-bottom", 25, 20);
  }

  &__numbers {
    color: #4E5665;
    @include line-height(22, 30);
    font-weight: 700;
    letter-spacing: 0px;
  }

  &__subtext {
    color: #909090;
    font-size: rem(14);
    font-weight: 700;
    @include line-height(17, 14);
    letter-spacing: 0px;
  }
}

.about {
  &__title {
    text-align: center;
    margin-bottom: rem(10);
  }

  &__text {
    letter-spacing: 0.9px;
    @include adaptiveValue("margin-bottom", 70, 20);
  }

  &__images {
    position: relative;
    display: flex;

    @include adaptiveValue("margin-bottom", 100, 40);

    &--beach {
      justify-content: start;
    }

    &--heritage {
      justify-content: end;
    }
  }

  &__img {
    width: rem(570);
    height: rem(430);
    object-fit: cover;
    display: block;

    &--beach {
      margin-right: auto;
    }

    &--heritage {
      margin-left: auto;
    }
  }

  &__box {
    position: absolute;
    @include adaptiveValue("padding-bottom", 20, 10);
    @include adaptiveValue("padding-top", 30, 10);
    @include adaptiveValue("padding-left", 40, 20);
    @include adaptiveValue("padding-right", 40, 20);
    box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.2);
    background: rgb(255, 255, 255);
    max-width: rem(470);
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      top: 7%;
      left: 4%;
      height: rem(33);
      width: rem(33);
      background-image: url('../images/sprite/decor1.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 7%;
      right: 4%;
      height: rem(33);
      width: rem(33);
      background-image: url('../images/sprite/decor2.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &--beach {
      transform: translateX(105%) translateY(-50%); //только по вертикали ниже другое
      top: 50%;
    }

    &--heritage {
      transform: translateX(-105%) translateY(-50%); //только по вертикали ниже другое
      top: 50%;
    }
  }

  &__subtitle {
    color: #4E5665;
    font-family: Georgia;
    font-size: rem(24);
    @include line-height(25, 24);
    letter-spacing: 0px;
    margin-bottom: rem(20);
  }

  &__subtext {
    letter-spacing: 0px;
    max-width: rem(340);
  }
}

.cadillac {
  &__title {
    @include adaptiveValue("margin-bottom", 35, 20);
    text-align: center;
  }

  &__img {
    width: rem(1170);
    height: rem(410);
    object-fit: contain;
    @include adaptiveValue("margin-bottom", 45, 20);
  }

  &__text {
    max-width: 975px;
    margin: 0 auto;
    letter-spacing: 0.8px;
  }

}

.picture {
  &__title {
    text-align: center;
    @include adaptiveValue("margin-bottom", 40, 20);
  }

  &__text {
    color: #505050;
    letter-spacing: 0.8px;
    @include adaptiveValue("margin-bottom", 105, 20);
  }

  &__slider {
    @include adaptiveValue("margin-bottom", 35, 20);
    display: block;
    max-width: rem(640);
    margin: 0 auto;
  }

  &__img {
    width: rem(640);
    height: rem(480);
    object-fit: cover;
  }
}

.slick-prev,
.slick-next {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #ECB84C;
  border-radius: 50%; //добавить в снпт
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%); //только по горизонтали
  z-index: 100;
  border: none;
  transition: opacity .5s;

  &::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &:focus {
    color: $focus;
  }

  &:hover {
    opacity: 0.7;
    background-color: black;
  }

  &:active {
    color: $active;
  }
}

.slick-prev {
  right: -3%;
  top: 50%;
  transform: translateY(-50%); //только по горизонтали

  &::before {
    background-image: url('../images/sprite/arrow-right.svg');
  }
}


.slick-next {
  left: -3%;
  top: 50%;
  transform: translateY(-50%); //только по горизонтали

  &::before {
    background-image: url('../images/sprite/arrow-left.svg');
  }
}

.footer {
  @include adaptiveValue("padding-bottom", 30, 20);
  @include adaptiveValue("padding-top", 40, 20);
  background-color: #F8F8F8;
  border-top: 1px solid #E7E9EB;

  &__line {
    border-top: 1px solid #D0D4D8;
  }

  &__wrapper {
    padding-top: rem(10);
    display: flex;
    justify-content: space-between;
    @include adaptiveValue("gap", 70, 20);
    @include adaptiveValue("margin-bottom", 30, 20);
  }

  &__title {
    color: #4E5665;
    font-size: rem(15);
    font-weight: 700;
    @include line-height(15, 20);
    margin-bottom: rem(20);
    text-transform: uppercase;
  }

  &__link {
    color: #4E5665;
    font-size: rem(14);
    line-height: 19px;
    letter-spacing: 0.7px;
    transition: color .5s;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &:focus {
      color: $focus;
    }

    &:hover {
      color: black;
    }

    &:active {
      color: $active;
    }
  }

  &__svg {
    margin-right: rem(10);
  }
}

.copy {
  text-align: center;
  color: #505050;
  font-size: rem(14);
  @include line-height(14, 19);
  letter-spacing: 0px;
}